# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#Custom stuff
main
*main
.sconsign.dblite
*~

**/.build/*
test_build/*
!test_build/.donotdelete
.DS_Store
logs/*
