SUBSYSTEM=="tty", ATTRS{serial}=="INSERT SERIAL HERE", SYMLINK+="arduino_motorcontroller"

SUBSYSTEM=="tty", ATTRS{serial}=="INSERT SERIAL HERE", SYMLINK+="arduino_pathfinding"

SUBSYSTEM=="tty", ATTRS{serial}=="INSERT SERIAL HERE", SYMLINK+="arduino_logger"

SUBSYSTEM=="tty", ATTRS{serial}=="INSERT SERIAL HERE", SYMLINK+="gps_avc"
